/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


/**
 * Login Template
 */

* {
    font-family: 'Indie Flower', cursive; 
}

body {
    background-color: #aed6f1;
}

label {
    display: inline-block;
    font-size: 20px; 
    text-align: left;
}

p,
h2, 
label, 
.link{
    color: #1a5276; 

}

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.submit {
    width: 150px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #1a5276;;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #154360; 
}


.link:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #aed6f1;
    
}

.input-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 40px;
}


.td {
    display: flex;
    justify-content: flex-start;
}

.td * {
    margin: 5px;
}